/nbproject/private/
node_modules
project.xml
project.properties
.DS_Store
Thumbs.db
.buildpath
.project
.settings*
.vscode
.idea
vendor
.phpunit.result.cache
tests/e2e/cypress/screenshots
tests/e2e/cypress/videos
tests/e2e/cypress/downloads