parameters:
  level: 0
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  paths:
    - ./views
    - ./inc
    - ./multisite-ultimate.php
  ignoreErrors:
      -
          message: '#Variable \$.* might not be defined.#'
          path: ./views/*